		<footer>
            <div style="margin-bottom: 5px">
				<a href="https://github.com/sueken5" title="GitHub">
					<span class="fa-stack fa-lg">
						<i class="fas fa-circle fa-stack-2x"></i>
						<i class="fab fa-github fa-stack-1x fa-inverse"></i>
					</span>
				</a>
				<a href="https://twitter.com/Sueken51" target="_blank">
					<span class="fa-stack fa-lg">
						<i class="fas fa-circle fa-stack-2x"></i>
						<i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
					</span>
				</a>
			</div>
			{{ if and .Params.comments (gt (len .Site.DisqusShortname) 0) }}
            <figure class="article-discussion">
              {{ template "_internal/disqus.html" . }}
            </figure>
			{{ end }}
			<span>
			&copy; <time datetime="{{ now }}">{{ now.Format "2006" }}</time> {{ .Site.Author.name }}. {{ i18n "generator" | safeHTML }}
			</span>
		</footer>
